.join-title {
    width: 414px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $pr-color;
}
.join-desc {
    width: 405px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: $desc-color;
    margin-top: 16px;
}

.join-btn-wrap {
    margin-top: 32px;
    button {
        padding: 16px 48px;
        font-weight: 700;
        font-size: 15px;
        color: $pr-color;
        background-color: $btn-color;
        cursor: pointer;
        border: none;
        transition: .3s ease;
    }
    button:hover {
        opacity: 0.9;
    }
    button:active {
        box-shadow: 1px 1px 3px 1px $btn-color;
    }
}

.join-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 135px;
}

@media screen and (max-width: 500px) {
    .join-wrapper {
        padding: 0 0 50px;
    }
    .join-title  {
        width: 100%;
        max-width: 180px;
        font-size: 25px;
    }
    .join-desc {
        width: 100%;
        max-width: 300px;
        font-size: 15px;
    }
    .join-btn-wrap {
        button {
            padding: 13px 30px;
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 500px) {
    .all-slider {
        padding: 70px 0 10px;
    }
    .choose  {
        padding: 30px 0 30px;
    }
}
@media screen and (max-width: 168px) {
    .blog-version {
        font-size: 18px;
        text-align: center;
    }
}